<!DOCTYPE html>
<html>
    {{- partial "slide_head.html" . -}}
    <body>
        {{- partial "slide_header.html" . -}}
        <div id="content" class="container">
<h1>{{ .Title }}</h1>
{{ partial "slide_metadata.html" . }}

<main role="main">
    <article id="webslides" {{- if .Site.Params.Webslides.vertical }} class="vertical"{{- end -}}>
        {{ $sections := split .Content "<hr/>" }}
        {{ range $sections }}
        <section>
            <div class="wrap">
                {{ . | safeHTML }}
            </div>
        </section>
        {{ end }}
    </article>
</main>

{{ partial "webslides.html" . }}
        </div>
        {{- partial "slide_footer.html" . -}}
        {{- partial "slide_script.html" . -}}
    </body>
</html>
