baseURL = "https://www.bytestone.uk/"
relativeURLs = true
languageCode = "en"
DefaultContentLanguage = "en"
theme = "simpleness"

title = "Bytestone Blog"
enableInlineShortcodes = true
enableEmoji = true

[params]
  author = "Humphrey Drummond"
  homepage = "https://www.bytestone.uk/"
  lazyImage = true
  enableMathJax = true # enable it in Front Matter
  enableReadingTime = true
  favicon = "favicon.ico"
  startyear = "2018"
  description = "Varying notes on a very long journey to build bytestone."
  disqus = ""
  math = true

[params.valine]
  enable = false
  lang = 'en' 
  appId = ''
  appKey = ''
  placeholder = 'Say Something......'
  requiredFields = ['nick', 'mail']
  avatar = 'robohash'
  visitor = true
  serverURLS = 'https://abc123.api.lncldglobal.com'
  debug = false # display the visitor counts when using 'hugo server'

[params.webslides]
  autoslide = false
  banner = false
  changeOnClick = false
  disableLoop = false
  disableNavigateOnScroll = false
  hideIndex = false
  minWheelDelta = 40
  scrollWait = 450
  slideOffset = 50
  slideshow = true
  vertical = true

[menu]
  [[menu.main]]
  name = "Home"
  url = "/"
  weight = 1
  [[menu.main]]
  name = "AFP"
  url = "/afp/"
  weight = 2
  [[menu.main]]
  name = "About"
  url = "/about/"
  weight = 3

[social]
  github = "https://github.com/drummonds"
  rss = "index.xml"

[taxonomies]
category = "categories"
tag = "tags"

# doc: https://gohugo.io/getting-started/configuration-markup#highlight
# syntax style: https://xyproto.github.io/splash/docs/longer/all.html
[markup]
  [markup.highlight]
    guessSyntax = true
    hl_Lines = ""
    # lineNoStart = 1
    # lineNos = true
    # lineNumbersInTable = true
    noClasses = true
    style = "monokai" # github, dracula, vim, monokai
    tabWidth = 4
  [markup.goldmark]
    [markup.goldmark.parser.attribute]
        block = true
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]

