.pagination {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
}

.pagination li {
  display: inline-block;
} 

.mermaid {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.archive ol li {
  list-style: decimal;
  padding-left: 2em;
}