{{ define "main" }}
{{ $Pages := .Pages }}
{{ if .IsHome }}
  {{ $posts := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $afpPages := where (where site.Pages "Section" "afp") ".Params.show_in_timeline" true }}
  {{ $Pages = union $posts $afpPages }}
{{ else if eq .Section "posts" }}
  {{ $afpPages := where (where site.Pages "Section" "afp") ".Params.show_in_timeline" true }}
  {{ $Pages = union $Pages $afpPages }}
{{ end }}
<article class="archive">
  {{ if not .IsHome }}
  <header style="text-align: center;">
    <h1>
      {{ .Title }}
    </h1>
  </header>
  <div class="content">
    {{ .Content }}
  </div>

  {{ end }}
  <div class="archive-list">
    {{ range ($Pages.ByDate.Reverse).GroupByDate "2006" }}
    <h2 class="archive-year">{{ .Key }}</h2>
    <ul>
      {{ range .Pages.GroupByDate "January"}}
      {{ range .Pages }}
      <li class="archive-item">
        {{ if .Date }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        <a href="{{ .RelPermalink }}">
          {{ if eq .Section "afp" }}<span class="badge-afp">AFP</span> {{ end }}
          {{ .Title }}
        </a>
        {{ end }}
      </li>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <aside>
    Last modified on {{ .Lastmod.Format "2006-01-02"}}.
  </aside>
</article>
{{ end }}
