{{ define "main" }}
{{ $posts := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $afpPages := where (where site.Pages ".Params.show_in_timeline" true) "Section" "afp" }}
{{ $allPages := union $posts $afpPages }}
{{ $paginator := .Paginate ($allPages.ByDate.Reverse) }}
<article class="archive">
  <div class="post-list">
    <div class="archive-list">
      {{ range $paginator.Pages.GroupByDate "2006" }}
        <h2 class="archive-year">{{ .Key }}</h2>
        <ul>
          {{ range .Pages }}
            <li class="archive-item">
              {{ if .Date }}
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                  {{ .Date.Format "2006-01-02" }}
                </time>
                <a href="{{ .RelPermalink }}">
                  {{ if eq .Section "afp" }}<span class="badge-afp">AFP</span> {{ end }}
                  {{ .Title }}
                </a>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}</div>
</article>
{{ end }}