{{$duration := ""}}
{{$to := now }}
{{ if ne (.Get "to") ""}}
  {{$to = time (.Get "to") }}
{{end}}
{{$enabledTime := ne (.Get "from") ""}}
{{if $enabledTime }}
  {{$from := time (.Get "from") }}
  {{$tmonths:=mul ($to.Sub $from).Hours 0.00136986301 }}
  {{$months := mod $tmonths 12 }}
  {{$years := math.Floor (div $tmonths 12)}}
  {{$yearStr := "years"}}
  {{if lt $years 2 }}{{$yearStr = "year"}}{{end}}
  {{$monthStr := "months"}}
  {{if lt $months 2 }}{{$monthStr = "month"}}{{end}}

  {{$duration = ""}}
  {{if gt $years 0 }}{{$duration = printf "%s %.0f %s" $duration $years $yearStr}}{{end}}
  {{if gt $months 0 }}{{$duration = printf "%s %d %s" $duration $months $monthStr}}{{end}}
{{end}}

<div class="container">
  <div class="content">
    <div class="title">{{.Get "title"}}</div>
    {{if $enabledTime }}
    <div class="moment" {{ if eq .Ordinal 0 }} id="moment" {{ end }}>
      {{ if ne .Ordinal 0 }} {{$duration}} {{ end }}
    </div>
    {{ end }}
    <div class="body">{{.Inner}}</div>
  </div>
  <div class="date">{{$to.Year}}</div>
</div>
{{ if and (eq (.Ordinal) 0) $enabledTime }}
<script>
  function non0plural(number, name) {
    if (number == 0) {
    return ""
    }
    if (number > 1) {
    return number + " " + name + "s"
    }
    return number + " " +name
  }

  el = document.querySelector("#moment");
  function refresh() {
    start = dayjs({{.Get "from"}})
    now = dayjs()

    total_months = now.diff(start, "M", true)
    months = total_months % 12
    years = Math.floor((total_months) / 12)
    el.innerHTML = non0plural(years,"year")+" "+non0plural(months.toFixed(8),"month")
  }
  window.setInterval(refresh, 100);
</script>
{{ end }}